<section class="container">
    <div class="content">
        <h1 class="gradient">PQRS</h1>
        <h1>The intuitive application for send pqrs</h1>
        <p>
            Type your PQRS and send it to the entity you want, you can also see the status of your PQRS and the response of the entity.
        </p>
        <div class="container-buttons">
            <button class="btn-primary" routerLink="/sign-in">Get Started</button>
            <button class="btn-outline-secondary">Demo</button>
            <button class="btn-outline-gray">
                <img src="../assets/play.svg" alt="">
                Watch Video introduction
            </button>
        </div>
    </div>
    <div class="logo">
        <img src="../assets/images/logo_pqrs.png" alt="logo" width="450">
    </div>
</section>
<div class="blur-effect"></div>
<div class="container-cards">
    <div class="cards">
        <div class="content-card">
            <h3>💡 Intuitive</h3>
            <p>
                The application is designed to be intuitive and easy to use, so that anyone can use it.
            </p>
        </div>
        <div class="content-card">
            <h3>📱 Responsive</h3>
            <p>
                The application is designed to be responsive, so you can use it from any device.
            </p>
        </div>
        <div class="content-card">
            <h3>🔒 Secure</h3>
            <p>
                The application is designed to be secure, so that your data is protected.
            </p>
        </div>
    </div>
</div>
<footer>
    <p>Copyright © 2023</p>
</footer>
