@import 'src/app/shared/styles/shared.scss';

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container-form {
        width: 20%;
        h1 {
            text-align: center;
        }
        form {
            .btn-primary {
                @include btnFull($primaryColor, $white, none);
            }
            .form-group {
                @include form-group();
            }
        }
        .btn-google {
            @include btnFull($white, $black, none);
            img {
                background-color: transparent;
            }
        }
        .btn-microsoft {
            @include btnFull($blue, $white, none);
        }
        .btn-apple {
            @include btnFull($black, $white, none);
            img {
                background-color: transparent;
            }
        }
    } 
}

@media (max-width: 1250px) {
    .container {
        .container-form {
            width: 40%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        .container-form {
            width: 80%;
        }
    }
}