/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Rubik&display=swap');
@import 'src/app/shared/styles/variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    background-color: $darkBackground;
}